.btn {
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background: rgb(19,117,154);
    background: linear-gradient(180deg, rgba(19,117,154,1) 13%,
    rgba(84,164,187,1) 48%,
    rgba(8,28,37,1) 89%);
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: rgb(19,117,154);
    background: linear-gradient(-360deg, rgba(19,117,154,1) 13%,
    rgba(84,164,187,1) 48%,
    rgba(8,28,37,1) 89%);
}